@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


::-webkit-scrollbar {
    width: 0;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.landing {
    font-family: 'Nanum Myeongjo', serif;
    display: flex;
    flex-direction: column;
}


.nav {
    font-size: 25px;
    margin: 5px;
}

#about {
    font-family: 'Oswald', sans-serif;
    position: fixed;
    writing-mode: vertical-lr;
    bottom: 50%;
    transform: translate(0, 50%);
}

img {
    width: 25px;
    height: 25px;
}

#Links {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0%;
    bottom: 50%;
    transform: translate(0, 50%);
    text-align: center;

}

#project1{
    font-family: 'Oswald', sans-serif;
}

#name {
    font-family: 'Nanum Myeongjo', serif;
    position: fixed;
    font-size: 18px;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}